
<!DOCTYPE html>
<html>
<head>
{% include head.html %}



</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" /></a>
        
        
        <div class="notepad-blog-menu">      
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
{% endfor %}            
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </ul>
</div>
        <div class="clearfix"></div>
    </div>
    <div class="notepad-site-head-content" >
        <div class="notepad-site-head-bg"></div>
        <h1 class="notepad-blog-title">
            <span class="notepad-site-head-title-bg">
                {{ site.title }}
            </span>
        </h1>
        <h3 id="dynamic-description" class="notepad-blog-description" style="color: white" />
	<h3>&nbsp</h3>
	<h3>&nbsp</h3>
    </div>
</header>


<main class="notepad-content" role="main">

            {{ content }}
</main>
    {% include footer.html %}

{% include scripts.html %}  

{% if site.dynamic-typing %}

  <!-- Dynamic Typing Start -->

  <script type="text/javascript" src="{{site.baseurl}}/assets/js/typed.js"></script>
  <script type="text/javascript">

  function shuffle(array) {
    var currentIndex = array.length, temporaryValue, randomIndex ;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {

      // Pick a remaining element...
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      // And swap it with the current element.
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }

  var myQuotes =  new Array();
  
  {% for line in site.lines %}
    myQuotes.push("{{ line.text }}");
  {% endfor %}

  {% if site.shuffle %}
    shuffle(myQuotes);
  {% endif %}

    $("#{{ site.dynamic-text-element-id }}").typed({
                  strings: myQuotes,
                  typeSpeed: {{ site.type-speed }},
                  backDelay: {{ site.delete-delay }},
                  startDelay: {{ site.start-delay }},
                  loop: {{ site.loop }},
                  loopCount: {{ site.loop-count }},
                  cursorChar: "|"
                });
  </script>

  <!-- Dynamic Typing End  -->

{% endif %}
</body>
</html>
